#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export VERSION="1.2"
export DEBIAN=true

CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.
	#./configure.sh ./debian/facturalux/usr
	mkdir $(CURDIR)/debian/facturalux
	mkdir $(CURDIR)/debian/facturalux/usr
	echo "PREFIX=$(CURDIR)/debian/facturalux/usr" > settings.pro
	echo "ROOT=$(CURDIR)" >> settings.pro
	echo "DEBIAN=true" >> settings.pro
	echo -e "//$(date +%d%m%Y):/usr" > config.h
	echo -e "/* config.h  Generado automáticamente por $0, NO EDITAR. */\n" >> config.h
	echo -e "#define FLDATA \"/usr/share/facturalux\"\n" >> config.h
	echo -e "#define FLDOC \"/usr/share/facturalux/doc\"\n" >> config.h
	echo -e "#define FLLIB \"/usr/lib\"\n" >> config.h
	echo -e "#define FLBIN \"/usr/bin\"\n" >> config.h
	echo -e "#define FLPREFIX \"/usr\"\n" >> config.h
	echo -e "#define QTDIR \"$QTDIR\"\n" >> config.h
	echo -e "#define VERSION \"$VERSION\"\n" >> config.h
	
	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp 
	dh_testdir

	# Add here commands to compile the package.
	qmake
	$(MAKE)
	#/usr/bin/docbook-to-man debian/facturalux.sgml > facturalux.1

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.
	-$(MAKE) clean
	rm -f ../settings.pro
	dh_clean

install: build
	dh_testdir
	dh_testroot
	#dh_clean -k 
	dh_installdirs

	# Add here commands to install the package into debian/facturalux.
	#$(MAKE) install DESTDIR=$(CURDIR)/debian/facturalux
	DESTDIR=$(CURDIR)/debian/facturalux/usr
	mkdir -p $(CURDIR)/debian/facturalux/usr/share/facturalux/forms
	mkdir -p $(CURDIR)/debian/facturalux/usr/share/facturalux/tables
	mkdir -p $(CURDIR)/debian/facturalux/usr/share/facturalux/translations
	mkdir -p $(CURDIR)/debian/facturalux/usr/share/facturalux/scripts
	mkdir -p $(CURDIR)/debian/facturalux/usr/share/facturalux/queries
	mkdir -p $(CURDIR)/debian/facturalux/usr/share/facturalux/reports
	mkdir -p $(CURDIR)/debian/facturalux/usr/share/facturalux/doc
	mkdir -p $(CURDIR)/debian/facturalux/bin
	mkdir -p $(CURDIR)/debian/facturalux/lib
	
	cp -f src/forms/*.ui $(CURDIR)/debian/facturalux/usr/share/facturalux/forms
	cp -f src/tables/*.mtd $(CURDIR)/debian/facturalux/usr/share/facturalux/tables
	#cp -f src/translations/*.qm $(CURDIR)/debian/facturalux/usr/share/facturalux/translations
	cp -f src/scripts/*.qs $(CURDIR)/debian/facturalux/usr/share/facturalux/scripts
	#cp -f src/queries/*.qry $(CURDIR)/debian/facturalux/usr/share/facturalux/queries
	#cp -f src/reports/*.kut $(CURDIR)/debian/facturalux/usr/share/facturalux/reports
	cp -f src/docs/*.html $(CURDIR)/debian/facturalux/usr/share/facturalux/doc
	cp -f src/*.xml $(CURDIR)/debian/facturalux/usr/share/facturalux

	mv $(CURDIR)/debian/facturalux/usr/bin/fllite $(CURDIR)/debian/facturalux/usr/bin/facturalux


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs Changelog
	dh_installdocs
	dh_installexamples
#	dh_install
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
