Source: facturalux
Section: misc
Priority: optional
Maintainer: Raúl Alexis Betancort Santana <rabs@dimension-virtual.com>
Build-Depends: debhelper (>= 4.0.0), libqt3-mt-dev (>= 3.2.3), libqt3-mt-psql (>= 3.2.3) | libqt3c102-mt-psql (>= 3.2.3), libqsa-dev (>= 1.0.1 )
Standards-Version: 3.6.0

Package: facturalux
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libpq3 (>=7.3)
Description: ERP/CRM software for GNU/Linux
 ERP/CRM (Enterprise Resource Planning/Customer Relationship Management)
 software on storage management and enterprise sales for GNU/Linux, using
 C++, Qt 3.x and PostGreSQL.
 .
 Please, be sure to read /usr/share/doc/facturalux/README.debian. It
 contains critical info to get facturalux working.
 .
 This package contains main program and libs.

